@import './../../../../assets/sass/variable.scss';
@import './../../../../assets/sass/mixin.scss';

.header__nav{
    li{
        display: inline-block;
        margin: 0 15px;
        padding: 20px 0;

        @include font('Oswald');
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1.5px;
        text-transform: uppercase;

        color: $main-color;
        
        line-height: 22px;

        a:hover{
            color: $primary-color;
        }

        &:last-child{
            margin-right: 0;
        }

    }

    .toggle-box{
        min-height: 0;
        max-height: 0;

        transition: all 1s;
        overflow: hidden;

        &::before{
            content: '';
            display: block;
            height: 2px;
            background-color: $primary-color;
        }
    }

    li.toggle-span{
        cursor: pointer;
        &:hover{
            .toggle-box{
                max-height: 800px;
            }
        }
    }

    li.bulkhead{
        span{
            border-right: 2px solid rgba(0,0,0,.5);
        }
    }

    li.toggle-sub-menu{
        position: relative;
        cursor: pointer;

        span.arrow_carrot-right{
            display: none;
        }

        .sub-menu{
            position: absolute;
            right: -15px;
            top: 200%;
            width: 200px;
            min-height: 0;
            max-height: 0;

            background-color: #fff;
            text-align: right;
            overflow: hidden;
            transition: all .8s ease-in-out;

            &::before{
                content: '';
                display: block;
                height: 2px;
                background-color: $primary-color;
            }

            li{
                display: block;
                margin: 0;
                padding: 5px 15px;
                font-family: Oswald,sans-serif;
                color: #666;

                font-weight: 400;
                font-size: 13px;
                line-height: 1.5;
                position: relative;

                &:first-child{
                    margin-top: 10px;
                }
                &:last-child{
                    margin-bottom: 10px;
                }

                &:hover{
                    color: $primary-color;
                    background-color: #c7a07a20;
                }

                span.number{
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);

                    text-align: center;
                    line-height: 20px;
                    height: 20px;
                    min-width: 20px;

                    border-radius: 25px;
                    background-color: $primary-color;
                    color: #fff;
                }
            }
        }

        &:hover{
            .sub-menu{
                max-height: 500px;
            }
            
        }
    }

    .header__cart{
        position: relative;
        display: inline-block;
        padding-right: 10px;

        .number{
            display: block;
            width: 16px;
            height: 16px;
            font-size: 9px;

            text-align: center;
            line-height: 16px;

            position: absolute;
            top: 0;
            right: 0;
            background-color: $primary-color;
            color: #fff;
        }
    }

    .header__cart, .header__search, .header__humburger{
        font-size: 18px;
    }
}
