// ==================== INPUT ========================

.widget-input-box{
    width: 100%;
    padding: .25rem .875rem;
    border-radius: 4px;
    border: 1px solid #d5d5d5;

    input, textarea{
        width: 100%;
    }
}

button:disabled{
    opacity: .7;
    cursor: not-allowed;
}

