.product-hint-content{
    .product__thumbnail{
        margin: 4px 4px;
    }

    .row{
        div[class|="col"]:nth-child(6n+1){
            .product__thumbnail{
                margin-left: 0;
            }
        }
        
    }

    .row{
        div[class|="col"]:nth-child(6n+6){
            .product__thumbnail{
                margin-right: 0;
            }
        }
        
    }
}
    

    