@import './../../../assets/sass/variable.scss';
@import './../../../assets/sass/mixin.scss';

.flash-sale-content{
    h5{
        padding: 15px 20px;

        a{
            text-transform: capitalize;
            font-size: 13px;
            font-weight: 400;

            transition: all .3s ease;

            &:hover{
                color: $primary-color;
            }
        }
    }

    .swiper-button-prev, .swiper-button-next{
        @include normalArrow();
    }
}