// BOX MODAL
.section-padding{
    padding-top: 80px;
    padding-bottom: 80px;
}

.container{
    max-width: 1200px;
    padding: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
{
    padding-left: 0;
    padding-right: 0;
}

.row{
    margin-left: 0;
    margin-right: 0;
}


.mb-40{
    margin-bottom: 40px;
}

.mt-40{
    margin-top: 40px;
}

.mt-80{
    margin-top: 80px;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-20{
    margin-top: 20px;
}


// COLOR
.highlight {
    color: #c7a17a;
}

// HEADING
h1, h2, h3, h4, h6{
    font-size: inherit;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: #30271c;

    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

h1{
    font-size: 60px;
    letter-spacing: 1px;
}

h2{
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 1.2;
}

h3{
    font-size: 22px;
    letter-spacing: .5px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 14px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}


.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sale-progress{
    text-align: center;
    padding: 0 8px;

    .num-sold{
        position: relative;
        height: 16px;

        text-transform: uppercase;

        color: #fff;

        background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/ac7f81d9ee062223753413ec98497a86.png) 0 100% no-repeat;
        background-size: cover;
        border-radius: 8px;
        line-height: 16px;
        overflow: hidden;

        span{
            position: relative;
            z-index: 1;
        }

    }

    .progress-mark{
        position: absolute;
        right: 0;

        width: 100%;
        height: 100%;
        background: #ffbda6;
    }

    .bar-fire{
        position: absolute;
        left: 3px;
        top: -6px;

        width: 21px;
        height: 24px;

        background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/f5233259f90b05efbf3867f564628853.png) 0 no-repeat;
        background-size: auto;
        background-size: contain;
    }
}


.normal-arrow{
    .swiper-button-next, .swiper-button-prev{
        width: 36px;
        height: 36px;
        
        font-size: 18px;

        background-color: #fff;
        color: #30271c;

        border-radius: 50%;
        border: 1px solid #d5d5d5;
        box-shadow: 0 0 10px #d5d5d5;
        transition: all .3s;

        &:after{
            font-size: inherit;
        }

        &:hover{
            transform: scale(1.25);
        }
    }
}

.square-arrow-2842{
    .swiper-button-next, .swiper-button-prev{
        width: 28px;
        height: 42px;
        
        font-size: 14px;

        background-color: rgba(255, 255, 255, .9);
        color: #30271c;

        border-radius: 4px;
        border: 1px solid #d5d5d5;
        box-shadow: 0 0 10px #d5d5d5;
        transition: all .3s;

        &:after{
            font-size: inherit;
        }

        &:hover{
            background-color: #fff;
        }
    }

    .swiper-button-next{
        right: 0
    }
    .swiper-button-prev{
        left: 0
    }
}

// BORDER
.br-4{
    border-radius: 4px;
}
.br-2{
    border-radius: 2px;
}

.border-none{
    border: none!important;
}

// LINE
.vertical-line-1{
    height: 100%;
    width: 1px;
    background-color: #d5d5d5;
}

.horizontal-line-1{
    height: 1px;
    width: 100%;
    background-color: #d5d5d5;
}


// Badge
.default-badge{
    display: inline-block;
    padding: 0 8px;

    color: #fff;
    background: #00bfa5;

    border-radius: 3px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
}

// Modal box
.modal-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.5);
    z-index: 100;
}

// Font size
.f-16{
    font-size: 16px;
}
