.page-product__sidebar--header{
    font-size: 1.2rem;
    color: rgba(0,0,0,.4);
    margin-bottom: 0.875rem;
}

h5.page-product__content--header{
    margin-bottom: 2.25rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}