// Product

.page-product__sidebar--header{
    font-size: 1.2rem;
    color: rgba(0,0,0,.4);
    margin-bottom: 0.875rem;
}

h5.page-product__content--header{
    margin-bottom: 2.25rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}


// User
.page-user--header{
    min-height: 65px;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #d5d5d5;
    line-height: 1.625rem;

    p{
        margin-bottom: 0;
        font-size: 1.125rem;
        text-transform: capitalize;
        color: #333;
    }
    
    span{
        font-size: 0.875rem;
    }
}