$main-color : #30271c;
$primary-color : #c7a17a;
$second-color :rgb(49, 42, 38);

$border-color: #d5d5d5;


// SPACE
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;

// SIZE
$f-13: 13px;
$f-14: 14px;
$f-16: 16px;
$f-18: 18px;